
html { 
    min-height: 100%;
}

body {
    margin: 0;
    min-height: inherit;
}
[data-sidebar-left] {
    display: none;
    position: fixed;
    height: 100%;
    z-index: 100;
}
[data-sidebar-right] {
    display: none;
    position: fixed;
    width: 350px;
    height: 100%;
    z-index: 100;
}
[data-sidebar-overlay] {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0;
    width: 100%;
    min-height: inherit;
}
[data-sidebar-overlay-right] {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0;
    width: 100%;
    min-height: inherit;
}

/* Additional styles */

.form-control .mine{
    border: 0px solid #fff;
    border-radius:0px;
    box-shadow: inset 0 0px 0px rgba(0,0,0,0.0);
    -webkit-box-shadow: inset 0 0px 0px rgba(0,0,0,0.0);
}

aside { background-color: #fff;box-shadow: ; }
aside  a { color:#fff; text-decoration:none;}
.overlay { background-color: #ddd; }

.padding { padding: 2em; }


ection {
    padding: 100px 0;
    text-align: center;
}
select.frecuency {
    border: none;
    font-style: italic;
    background-color: transparent;
    cursor: pointer;
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-transition: -webkit-transform .35s ease-in;
    transition: -webkit-transform .35s ease-in;
    border-bottom: none;
}
select.frecuency:focus {
    outline: none;
    border-bottom: 5px solid #39b3d7;
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
    -webkit-transition: -webkit-transform .35s ease-in;
    transition: -webkit-transform .35s ease-in;
}
.free {
    text-transform: uppercase;
}
.input-group {
    margin: 10px auto;
    width: 100%;
}
input.btn.btn-lg,
input.btn.btn-lg:focus {
    outline: none;
    width: 60%;
    height: 60px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
button.btn {
    width: 40%;
    height: 60px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.promise {
    color: #999;
}
