/*modal source: http://stackoverflow.com/questions/18422223/bootstrap-3-modal-vertical-position-center
*/

html { 
    min-height: 100%;
}

body {
    margin: 0;
    min-height: inherit;
}
[data-sidebar-left] {
    display: none;
    position: fixed;
    width: 350px;
    height: 100%;
    z-index: 100;
}
[data-sidebar-right] {
    display: none;
    position: fixed;
    width: 350px;
    height: 100%;
    z-index: 100;
}
[data-sidebar-overlay] {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0;
    width: 100%;
    min-height: inherit;
}
[data-sidebar-overlay-right] {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0;
    width: 100%;
    min-height: inherit;
}

input[type=date]::-webkit-inner-spin-button, 
input[type=date]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
     margin: 0; 
}

/* Reference: http://stackoverflow.com/questions/12200544/override-twitter-bootstrap-textbox-glow-and-shadows*/
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus,
textarea:hover,
input[type="text"]:hover,
input[type="password"]:hover,
input[type="datetime"]:hover,
input[type="datetime-local"]:hover,
input[type="date"]:hover,
input[type="month"]:hover,
input[type="time"]:hover,
input[type="week"]:hover,
input[type="number"]:hover,
input[type="email"]:hover,
input[type="url"]:hover,
input[type="search"]:hover,
input[type="tel"]:hover,
input[type="color"]:hover,
.uneditable-input:hover {
  border-color: rgba(182,182,182,.6);
  outline: 0;
  outline: thin dotted \9;
  /* IE6-9 */

  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(182,182,182,.6);
  -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(182,182,182,.6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(182,182,182,.6);
}


div.modal-content{
        -webkit-box-shadow: none;
            -moz-box-shadow: none;
            -0-box-shadow: none;
        box-shadow: none;
        border:none;
    }

@media .modal-content{
 border: 0px solid rgba(0,0,0,.2);

}

.search-box {
  border-color: rgba(182,64,255,.6);
  outline: 0;
  outline: thin dotted \9;
  /* IE6-9 */

  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(182,182,182,.6);
  -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(182,182,182,.6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(182,182,182,.6);
}

/* Additional styles */
.btn.active, .btn:active {
    border: 0px solid #fff;
    border-radius:0px;
    box-shadow: inset 0 0px 0px rgba(0,0,0,0.0);
    -webkit-box-shadow: inset 0 0px 0px rgba(0,0,0,0.0);
}

.form-control .mine{
    border: 0px solid #fff;
    border-radius:0px;
    box-shadow: inset 0 0px 0px rgba(0,0,0,0.0);
    -webkit-box-shadow: inset 0 0px 0px rgba(0,0,0,0.0);
    font-weight:200;
    ;
}

.mine {
  margin:10px;
}

h3 {
    font-weight: 200;
}

.form-control .mine:active{
    border: 0px solid #fff;
    border-radius:0px;
    box-shadow: inset 0 0px 0px rgba(0,0,0,0.0);
    -webkit-box-shadow: inset 0 0px 0px rgba(0,0,0,0.0);
}


aside { background-color: #fff;box-shadow: ; }
aside  a { color:#fff; text-decoration:none;}
.overlay { background-color: #ddd; }

.padding { padding: 2em; }

.modal {
  text-align: center;
}

.modal:before {
  display: inline-block;
  vertical-align: middle;
  content: " ";
  height: 100%;
}

.light-font{
    font-weight:200;
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}

.modal-content{
    font-weight:200;
}

.first-column {
  width: 40%;
  float: left;
}

td{
    vertical-align: bottom;
}

.second-column {
  width: 50%;
  float: right;
  padding: 20px;
}

section {
    padding: 100px 0;
    text-align: center;
}
select.frecuency {
    border: none;
    font-style: italic;
    background-color: transparent;
    cursor: pointer;
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-transition: -webkit-transform .35s ease-in;
    transition: -webkit-transform .35s ease-in;
    border-bottom: none;
}
select.frecuency:focus {
    outline: none;
    border-bottom: 5px solid #39b3d7;
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
    -webkit-transition: -webkit-transform .35s ease-in;
    transition: -webkit-transform .35s ease-in;
}
.free {
    text-transform: uppercase;
}
.input-group {
    margin: 10px auto;
    width: 100%;
}
input.btn.btn-lg,
input.btn.btn-lg:focus {
    outline: none;
    width: 60%;
    height: 45px;
    /*border-top-left-radius: 0;
    border-bottom-left-radius: 0;*/
}
input.btn.btn-lg:active {
    outline: none;
    width: 60%;
    height: 45px;
    /*border-top-left-radius: 0;
    border-bottom-left-radius: 0;*/
}
.confirm-btn:active{
    box-shadow:0;
    background-color: #A040FF;
}
 .confirm-btn:hover{
    box-shadow:0;
    background-color: #A040FF;
}
.confirm-btn:focus{
    box-shadow:0;
    background-color: #A040FF;
}

button.btn {
    width: 40%;
    height: 45px;
    /*border-top-right-radius: 0;
    border-bottom-right-radius: 0;*/
    
}
.promise {
    color: #999;
}

.queueName {
    padding-bottom: 15px;
    margin-left: 5px;
}

input.numberInput,
input.numberInput:focus {
    outline: none;
    width: 40%;
    height: 30px;
    display: inline;
}

input.numberInput:active {
    outline: none;
    width: 40%;
    height: 30px;
    display: inline;
}

input.nameInput,
input.nameInput:focus {
    outline: none;
    width: 100%;
    height: 30px;
    display: inline;
}

input.nameInput:active {
    outline: none;
    width: 100%;
    height: 30px;
    display: inline;
}




hr.queue {
    margin-top: 10px;
    margin-bottom: 10px;
}

table {
    border: 0;
    margin-left: 5px;
}

.col1 {
    padding: 0;
    width: 25%;
    padding-bottom: 10px;
    padding-top: 10px;
    text-align: center;
}

.col2 {
    width: 40%;
    padding-bottom: 10px;
    padding-top: 10px;
    text-align: center;
}

.col3 {
    width: 10%;
    padding-bottom: 10px;
    padding-top: 10px;
    text-align: center;
}

.col4 {
    width: 25%;
    padding-bottom: 10px;
    padding-top: 10px;
    text-align: center;
}

.bs-callout {
  margin: 20px 0;
  padding: 15px 30px 15px 15px;
  border-left: 5px solid rgba(160,64,255,1.0);
}
.bs-callout h4 {
  margin-top: 0;
}
.bs-callout p:last-child {
  margin-bottom: 0;
}
.bs-callout code,
.bs-callout .highlight {
  background-color: #fff;
}
 
.bs-callout-info {
  background-color: rgba(160,64,255,.1);
  border-color: rgba(160,64,255,1.0);
}

.queue-column{
    text-align:center;
}

.modal-dynamic-info {
  border-top: 1px solid rgba(160,64,255,.1);
  border-bottom: 1px solid rgba(160,64,255,0.1);
  border-right: 1px solid rgba(160,64,255,0.1);
  border-left: none;
}

.modal-static-info {
  font-weight: 400;
  border-top: 1px solid rgba(160,64,255,0.1);
  border-bottom: 1px solid rgba(160,64,255,0.1);
}

.big-box,
.mini-box {
    background-color: #10BCFF;
    color: white;
    text-align: center;
    margin: 2px;
    font-size: 1.5em;
}
.big-box {
    height: 30px
}
.mini-box {
    height: 15px
}

.moused-over-queue-button {
  font-weight:400;
  background: rgba(160, 64, 255, 1.0);
  color: white;
}

.regular-queue-button {
  background: white;
  color:black;
}
td{
  overflow: hidden;
}
.add-table{
  font-weight:400;
  vertical-align:middle;
  border-right: 5px solid rgba(160,64,255,1.0);
  padding:15px;
}

#deleteRes:hover{
  font-weight:400;
  background: rgba(160, 64, 255, 1.0);
  color: white;
}

.assignTable:hover{
  font-weight:400;
  background: rgba(160, 64, 255, 1.0);
  color: white;
  border: 0px solid rgba(160,64,255,1.0);
}

.assignTable{
   border-right:1px solid rgba(160,64,255,1.0);
   font-weight:400;
   vertical-align:middle;
   padding:15px;
   color:rgba(160, 64, 255, 1.0);
}

.deleteTable{
  font-weight:400;
  vertical-align:middle;
  padding: 15px;
  color: rgba(160, 64, 255, 1.0);
}

.deleteTable:hover{
  font-weight:400;
  background: rgba(160, 64, 255, 1.0);
  color: white;
  border: 0px solid rgba(160,64,255,1.0);
}

.resNum{
  border-top: 1px solid rgba(160,64,255,1.0);
}

.queueItem{
  margin-top:20px;
  margin-bottom:20px;
  border: 1px solid rgba(160,64,255,1.0);
  border-left: 5px solid rgba(160,64,255,1.0);
  background-color:#fff;
  padding:0px;
}

.optionsTable{
  width:100%;
  max-width:100%;
 font-weight:200;
 margin-left:0px
}

.innerOptionsTable{
  width:100%;
  max-width:100%;
  font-weight:200;
  margin-left:0px;
}

.input-button{
  margin-top:15px;
}



