#leftMenuPull {
    position: absolute;
    float: left;
    display: inline-block;
    margin-left: 0px;

    background: #FF0;
    height: 100%;
    width: 20px;

    cursor: pointer;
}

#rightMenuPull {
    float: right;
    background: #FF0;
    height: 100%;
    width: 20px;

    cursor: pointer;
}

#tableLayout {
    margin-left: 20px;
}